* {
  font-family: "Roboto", sans-serif;
}

header {
  position: fixed;
  width: 100%;
  z-index: 99;
}

nav {
  height: 50px;
  background-color: #212121;
}

.menu {
  display: flex;
  justify-content: space-between;
  padding: 13px 70px;
  margin: 0;
  list-style-type: none;
}

.menu .menu_link {
  color: #ffffff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  font-style: normal;
}

.menu .menu_item {
  border-right: 2px dotted black;
  padding-right: 28px;
}

.subheader {
  height: 84px;
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  width: 100%;
}

.subheader .subheader_logo {
  display: block;
  max-width: 100%;
  margin-top: 16px;
}

.subheader .subheader_official {
  margin-top: 6px;
  opacity: 0.5;
  color: #ffffff;
  font-size: 13px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
}

.subheader .subheader_call {
  margin-top: 19px;
  color: #ffffff;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 300;
  font-style: normal;
  text-align: right;
  letter-spacing: normal;
}

.subheader .subheader_phone {
  color: #ffffff;
  font-family: Roboto;
  font-size: 22px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  text-transform: uppercase;
}

.subheader .subheader_btn,
.promo .promo_btn {
  margin-top: 19px;
  width: 172px;
  height: 46px;
  box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.12);
  border: none;
  background-image: linear-gradient(to top, #1eacc7 0%, #4ce2ff 100%);
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.21);
  color: #ffffff;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  text-align: center;
  text-transform: uppercase;
  outline: none;
  border-radius: 4px;
}

.promo {
  min-height: 800px;
  background: url("../assets/img/background.jpg") center center/cover no-repeat;
  padding: 150px 0 135px 0;
}

.promo .promo_header {
  margin: 0;
  margin-top: 67px;
  color: #ffffff;
  font-size: 60px;
  font-weight: 700;
  font-style: normal;
  text-align: center;
  text-transform: uppercase;
}

.promo .promo_subheader {
  margin: 0;
  color: #ffffff;
  font-size: 30px;
  font-weight: 700;
  font-style: normal;
  text-align: center;
  text-transform: uppercase;
}

.promo .promo_descr {
  margin-top: 23px;
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 24px;
  text-align: center;
}

.promo .promo_btn {
  margin: 0 auto;
  margin-top: 118px;
}

.advantages {
  min-height: 900px;
  padding: 71px 0 78px 0;
}

.advantages .advantages_block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.advantages .advantages_title {
  width: 112px;
  background-color: #000000;
  color: #ffffff;
  font-size: 11px;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  text-transform: uppercase;
  margin: 0 auto;
}

.advantages .advantages_label {
  margin-top: 38px;
  color: #222222;
  font-family: Roboto;
  font-size: 38px;
  font-weight: 700;
  font-style: normal;
  text-align: center;
  text-transform: uppercase;
}

.advantages .advantages_round {
  width: 113px;
  height: 113px;
  background-color: #1eacc7;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.advantages .advantages_subtitle {
  color: #1eacc7;
  font-family: "Roboto - Regular";
  font-size: 17px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
}

.advantages .advantages_descr {
  max-width: 341px;
  margin-left: 26px;
}
